/*

My Custom CSS
=============

Author:  Dominik Danielewicz
Updated: September 2015
Notes:	 

*/


/* --------------------------------------
   Header
   -------------------------------------- */

header {
    background-color: #1d1e20;
}

header img {
    width: 200px;
    margin: 20px 0px 20px 0px;
}


/* --------------------------------------
   Header-Social
   -------------------------------------- */

.social {
    float: right;
    text-align: right;
    margin: 30px 0px 20px 0px;
}

.social ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

.social ul li {
    display: inline-block;
}

.social p {
    margin: 10px 0 2px 0;
    font-size: .85em;
}

.social a i {
    margin-left: 5px;
    text-decoration: none;
    color: #a1a1a1;
    font-size: 4em;
    transition: color .5s;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
}

.social a:hover i.icon-facebook-sign {
    color: #3B5998;
}

.social a:hover i.icon-twitter-sign {
    color: #4099ff;
}

.social a:hover i.icon-google-plus-sign {
    color: #d34836;
}

.social a:hover i.icon-youtube-sign {
    color: #ff3333;
}


/* --------------------------------------
   Carousel
   -------------------------------------- */

.slidercolor {
    margin-top: -25px;
    background-color: #343434;
    padding-bottom: 60px
}

#main1 {
    padding-top: 50px;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */

.navbar {
    background-color: #222325;
    border-radius: 0px;
    border-style: none;
    height: 70px;
    margin-bottom: 0px;
}

.navbar-nav {
    font-size: 24px;
    padding: 8px 0px 8px 20px;
}

.navbar-nav li {
    margin-top: -10px;
}

.navbar-nav li a {
    padding-top: 25px;
    padding-bottom: 28px;
}

.navbar-nav li:hover {
    border-top: 3px solid #ff8000;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #ff8000;
}

.navbar h3 {
    color: #c1c1c1;
}

.navbar-default .navbar-nav>li>a {
    color: #c1c1c1;
}

#brand {
    margin-left: 20px;
}


/* --------------------------------------
   Galeria
   -------------------------------------- */

#galery {
    margin-bottom: 50px;
}

#galery img {
    margin-bottom: 20px;
}

#galery h1 {
    margin-left: 45px;
    margin-bottom: 20px;
}


/* --------------------------------------
   Content
   -------------------------------------- */
.shadowcolumn{
    height: auto;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    
-webkit-box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.20);
-moz-box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.20);
box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.20);
}

.btn-primary {
    color: #838383;
    background-color: #e8e8e8;
    border-color: #dddddd;
    -webkit-box-shadow: 3px 3px 5px -4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 3px 3px 5px -4px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 5px -4px rgba(0, 0, 0, 0.3);
}

.btn-primary:hover {
    color: #838383;
    background-color: #dddddd;
    border-color: #dddddd;
}

.btn-primary:focus {
    color: #838383;
    background-color: #dddddd;
    border-color: #dddddd;
}

.btn-primary:active {
    color: #838383;
    background-color: #dddddd;
    border-color: #dddddd;
}

.btn-primary:visited {
    color: #838383;
    background-color: #dddddd;
    border-color: #dddddd;
}

.contentcolor {
    background-color: #e8e8e8;
}

.contentcolor {
    color: #838383;
}

#main2 {
    background-color: #f1f1f1;
}

.smallcol {
    width: 80%;
}

.top {
    display: inline-block;
}

.top img {
    margin-top: 9px;
    width: 20%;
    float: left;
}

.top1 {
    display: inline-block;
    width: 100%;
    margin-left: 40px;
}

.top1 img {
    margin-top: 4px;
    width: 60px;
    float: left;
}

.top1 h2 {
    font-size: 26px;
}



/* --------------------------------------
   Footer
   -------------------------------------- */

.footercolor {
    background-color: #1f2022;
}

.footercolor li,
.footercolor a,
.footercolor h1,
.footercolor h2,
.footercolor h3,
.footercolor h4,
.footercolor p {
    color: #c1c1c1;
}

#main3 {
    background-color: #28292b;
    color: #efefef;
}

#col1 .top h2 {
    margin-bottom: 40px;
}

#col1 h3 {
    font-size: 19px;
    line-height: 23px;
}

#col2 img {
    width: 85px;
    margin-bottom: -15px;
    margin-top: -10px;
}

#col2 {
    text-align: center;
}

#col2 h3 {
    line-height: 15px;
    font-size: 19px;
}

#col2 h1 {
    font-size: 26px;
    margin-bottom: 30px;
}

#col3 #textform {
    margin-top: 30px;
}

#col3 #textform2 {
    margin-top: 20px;
}

#col3 h1 {
    font-size: 26px;
}

#atach {
    margin-top: 20px;
}

address {
    margin-top: 20px;
}

.top h2 {
    font-size: 26px;
}


/* --------------------------------------
   Strona - Kontakt
   -------------------------------------- */

#kontaktcol  {
    margin-top: 20px;
}


#kontaktcol h3 {
    font-size: 19px;
    line-height: 26px;
    text-align: center;
}

.map {
    width: 80%;
    margin-top: 30px;
}

.top-centra {
     text-align: center;
}

.top-centra img{
     width: 30%;   
}

.top-centra h2{
     margin-top: 2px;
}


/* --------------------------------------
   Strona - Galeria
   -------------------------------------- */

.photo {
    width: 80%;
    margin-bottom: 30px;
}


/* Portrait & landscape phone */

@media (max-width: 480px) {}


/* Landscape phone to portrait tablet */

@media (max-width: 768px) {}

@media (max-width: 991px) {
    .navbar {
        height: auto;
    }
}


/* Large desktop */

@media (min-width: 1200px) {}