/*

My Custom CSS
=============

Author:  Dominik Danielewicz
Updated: September 2015
Notes:	 

*/


/* --------------------------------------
   Header
   -------------------------------------- */

header {
    background-color: #1d1e20;
}

header img {
    width: 200px;
    margin: 20px 0px 20px 0px;
}


/* --------------------------------------
   Header-Social
   -------------------------------------- */

.social {
    float: right;
    text-align: right;
    margin: 30px 0px 20px 0px;
}

.social ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

.social ul li {
    display: inline-block;
}

.social p {
    margin: 10px 0 2px 0;
    font-size: .85em;
}

.social a i {
    margin-left: 5px;
    text-decoration: none;
    color: #a1a1a1;
    font-size: 4em;
    transition: color .5s;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
}

.social a:hover i.icon-facebook-sign {
    color: #3B5998;
}

.social a:hover i.icon-twitter-sign {
    color: #4099ff;
}

.social a:hover i.icon-google-plus-sign {
    color: #d34836;
}

.social a:hover i.icon-youtube-sign {
    color: #ff3333;
}


/* --------------------------------------
   Carousel
   -------------------------------------- */

.slidercolor {
    margin-top: -25px;
    background-color: #343434;
    padding-bottom: 60px
}

#main1 {
    padding-top: 50px;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */

.navbar {
    background-color: #222325;
    border-radius: 0px;
    border-style: none;
    height: 70px;
    margin-bottom: 0px;
    -webkit-box-shadow: -3px 4px 14px -9px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -3px 4px 14px -9px rgba(0, 0, 0, 0.3);
    box-shadow: -3px 4px 14px -9px rgba(0, 0, 0, 0.3);
}

.navbar-nav {
    font-size: 24px;
    padding: 8px 0px 8px 20px;
}

.navbar-nav li {
    margin-top: -10px;
}

.navbar-nav li a {
    padding-top: 25px;
}

.navbar-nav li:hover {
    border-top: 3px solid #ff8000;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #ff8000;
}

.navbar h1 {
    color: #c1c1c1;
    font-size: 24px;
}

.navbar-default .navbar-nav>li>a {
    color: #c1c1c1;
}

#brand {
    margin-left: 20px;
}


/* --------------------------------------
   Galeria
   -------------------------------------- */

#galery {
    margin-bottom: 20px;
}

.galleryimg img {
    margin-bottom: 20px;
}

#galery h1 {
    margin-left: 45px;
    margin-bottom: 20px;
}


/* --------------------------------------
   Content
   -------------------------------------- */

hr {
    border-color: #838383;
    margin-top: 12px;
}

.kontakthr {
    width: 60%;
}

.borderhr {
    border-right: 2px dashed #dddddd;
    margin-top: 10px;
}

.borderhr:last-child {
    border: none;
}

.shadowcolumn {
    height: auto;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    -webkit-box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.20);
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.20);
}

.btn-primary {
    color: #838383;
    background-color: #e8e8e8;
    border-color: #dddddd;
    -webkit-box-shadow: 3px 3px 5px -4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 3px 3px 5px -4px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 5px -4px rgba(0, 0, 0, 0.3);
}

.btn-primary:hover {
    color: #838383;
    background-color: #dddddd;
    border-color: #dddddd;
}

.btn-primary:focus {
    color: #838383;
    background-color: #dddddd;
    border-color: #dddddd;
}

.btn-primary:active {
    color: #838383;
    background-color: #dddddd;
    border-color: #dddddd;
}

.btn-primary:visited {
    color: #838383;
    background-color: #dddddd;
    border-color: #dddddd;
}

.contentcolor {
    background-color: #e8e8e8;
}

.contentcolor {
    color: #838383;
}

#main2 {
    background-color: #f1f1f1;
    -webkit-box-shadow: 0px 0px 126px -22px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 0px 126px -22px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 0px 126px -22px rgba(0, 0, 0, 0.26);
}

#main3 {
    -webkit-box-shadow: 0px 0px 126px -22px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 0px 126px -22px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 0px 126px -22px rgba(0, 0, 0, 0.26);
    padding-bottom: 20px;
}

.footercolor {
    padding-bottom: 40px;
}

.smallcol {
    width: 80%;
    min-height: 410px;
}

.top {
    display: inline-block;
}

.top img {
    margin-top: 9px;
    width: 20%;
    float: left;
}

.top1 {
    width: 100%;
    margin-left: 40px;
    display: inline-block;
}

.top1 img {
    margin-top: 4px;
    width: 60px;
    float: left;
}

.top1 h2 {
    font-size: 26px;
}


/* --------------------------------------
   Footer
   -------------------------------------- */

.footercolor {
    background-color: #1f2022;
}

.footercolor li,
.footercolor a,
.footercolor h1,
.footercolor h2,
.footercolor h3,
.footercolor h4,
.footercolor p {
    color: #c1c1c1;
}

#main3 {
    background-color: #28292b;
    color: #efefef;
}

#col1 .top h2 {
    margin-bottom: 20px;
}

#col3 .top h2 {
    margin-bottom: 20px;
}

#col1 h3 {
    font-size: 19px;
    line-height: 23px;
}

#col2 img {
    width: 85px;
    margin-bottom: -15px;
    margin-top: -10px;
}

#col2 {
    text-align: center;
}

#col2 h3 {
    line-height: 15px;
    font-size: 19px;
}

#col2 h1 {
    font-size: 26px;
    margin-bottom: 30px;
}

#col3 #textform2 {
    margin-top: 20px;
}

#col3 h1 {
    font-size: 26px;
}

#atach {
    margin-top: 20px;
}

address {
    margin-top: 20px;
}

.top h2 {
    font-size: 26px;
}


/* --------------------------------------
   Strona - Kontakt
   -------------------------------------- */

.kontaktcol {
    margin-top: 20px;
}

.kontaktcol h3 {
    font-size: 19px;
    line-height: 26px;
    text-align: center;
}

.map {
    width: 80%;
    margin-top: 30px;
}

.top-centra {
    text-align: center;
}

.top-centra img {
    width: 30%;
}

.top-centra h2 {
    margin-top: 2px;
}


/* --------------------------------------
   Strona - Oferta
   -------------------------------------- */

.offershadow .smallcol h2 {
    text-align: center;
    font-size: 17px;
}

.offershadow .offer img {
    padding-top: 10px;
}

.offershadow .offer h2 {
    margin-top: 30px;
}

.offershadow .offer h2 {
    margin-top: 30px;
}

.offershadow .borderhr {
    margin-bottom: 20px;
}


/* --------------------------------------
   Strona - O nas
   -------------------------------------- */

.eachr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.eachr img {
    margin: 0 auto;
}

.textcol {
    width: 80%;
}

.textcol h2 {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 20px;
}

.textcol img {
    width: 70%;
}


/* --------------------------------------
   Strona - Galeria
   -------------------------------------- */

.photo {
    width: 80%;
    margin-bottom: 30px;
}

.photo p {
    text-align: center;
    margin-top: 5px;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.google-maps-big {
    position: relative;
    padding-bottom: 50%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}

.google-maps-big iframe {
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

#pjustify p {
    text-align: justify;
}

#pjustify span {
    font-size: 15px;
}

#pjustify h6 {
    font-style: italic;
    font-size: 15px;
    color: #4d4d4d;
}


/* Home */

.homeshadow .shadowcolumn {
    min-height: 440px;
}

.homeshadow .btn-primary {
    position: absolute;
    bottom: 2px;
    right: 1px;
}

.homeshadow .smallcol {
    position: relative;
}


/* Offer */

.offershadow .shadowcolumn {
    min-height: 300px;
}

.offershadow .smallcol {
    min-height: 250px;
}


/* Contact */

.contactshadow .smallcol {
    min-height: 300px;
}

#barnd h1 {
    font-size: 24px;
}


/* Portrait & landscape phone */

@media (max-width: 1200px) {
    .homeshadow .shadowcolumn {
        min-height: 300px;
    }
    .homeshadow .smallcol {
        min-height: 250px;
    }
    .opinion {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .footercolor h3 {
        text-align: center;
    }
    .offershadow .shadowcolumn {
        min-height: 610px;
    }
}

@media (max-width: 992px) {
    .navbar {
        height: auto;
    }
    #brand {
        display: none;
    }
    .navbar-nav li:hover {
        border-top: none;
    }
    .navbar li {
        text-align: center;
    }
    .footercolor h3 {
        text-align: center;
    }
    .homeshadow .shadowcolumn {
        min-height: 300px;
    }
    .homeshadow .smallcol {
        min-height: 270px;
    }
    .offershadow .shadowcolumn {
        min-height: 480px;
    }
}

@media (max-width: 768px) {
    #google1 {
        display: none;
    }
}

@media (max-width: 702px) {
    .homeshadow .shadowcolumn {
        height: 380px;
    }
    .homeshadow .smallcol {
        height: 350px;
    }
    .opinion {
        width: 90% !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .offershadow .shadowcolumn {
        min-height: 460px;
    }
}

@media (max-width: 650px) {
    .offershadow .shadowcolumn {
        min-height: 430px;
    }
}

@media (max-width: 600px) {
    .offershadow .shadowcolumn {
        min-height: 400px;
    }
}

@media (max-width: 500px) {
    .offershadow .shadowcolumn {
        min-height: 360px;
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .social {
        clear: both;
        width: 100%;
        text-align: center;
    }
    .slidercolor {
        display: none;
    }
    .footercolor h2 {
        font-size: 23px;
    }
    .homeshadow .shadowcolumn {
        height: 400px !important;
    }
    .homeshadow .smallcol {
        height: 370px !important;
    }
    .offershadow .shadowcolumn {
        min-height: 350px;
    }
}

@media (max-width: 440px) {
    .logo img {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .social {
        clear: both;
        width: 100%;
        text-align: center;
    }
    .slidercolor {
        display: none;
    }
    .footercolor h2 {
        font-size: 23px;
    }
    .homeshadow .shadowcolumn {
        height: 420px !important;
    }
    .homeshadow .smallcol {
        height: 390px !important;
    }
    .offershadow .shadowcolumn {
        min-height: 330px;
    }
}

@media (max-width: 400px) {
    .logo img {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .social {
        clear: both;
        width: 100%;
        text-align: center;
    }
    .slidercolor {
        display: none;
    }
    .footercolor h2 {
        font-size: 23px;
    }
    .homeshadow .shadowcolumn {
        height: 440px !important;
    }
    .homeshadow .smallcol {
        height: 410px !important;
    }
    .offershadow .shadowcolumn {
        min-height: 310px;
    }
}

@media (max-width: 360px) {
    .logo img {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .social {
        clear: both;
        width: 100%;
        text-align: center;
    }
    .slidercolor {
        display: none;
    }
    .footercolor h2 {
        font-size: 23px;
    }
    .homeshadow .shadowcolumn {
        height: 440px !important;
    }
    .homeshadow .smallcol {
        height: 410px !important;
    }
    .offershadow .shadowcolumn {
        min-height: 280px;
    }
    .footercolor h3 {
        font-size: 20px;
    }
}

@media (max-width: 340px) {
    .logo img {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .social {
        clear: both;
        width: 100%;
        text-align: center;
    }
    .slidercolor {
        display: none;
    }
    .footercolor h2 {
        font-size: 23px;
    }
    .homeshadow .shadowcolumn {
        height: 480px !important;
    }
    .homeshadow .smallcol {
        height: 450px !important;
    }
    .offershadow .shadowcolumn {
        min-height: 260px;
    }
}